@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.header-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	padding: 5px;
	height: 60px;
	background: linear-gradient(to left, #ff8a00, #e52e71);
	opacity: 0.8;
}

.header-logo {
	height: 52px;
	padding-left: 5px;
}

.header-title {
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
	color: #ffffff;
}
